/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
  
}

body {
  	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    margin: 25px;
}

header {
  min-height: 11vh;
  background: #FFD4DE;
/* Try out any of the next three lines of code to see how they differ. Or don't differ.*/   
  display: block;
  display: flex;
  display: grid;
}

h1 {
  margin: auto;
  width: max-content;
  font-family: Avenir, Roboto, Heveltica, san-serif;
  font-weight: normal;
  border: 1px solid #000;
  padding: 0 0.5rem;
}

/* h1 {
  font-weight: bold;
  color: pink;
} */

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}
